html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  background-image: linear-gradient(to bottom right, #009990, #074799);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Overpass", sans-serif;
  background-attachment: fixed;
}
